.setup-family-prize{
    text-align: left;
}
.resetButton{
    background-color: rgb(199, 67, 124);

}

.resetButton:active{
    background-color: rgb(179, 29, 99);
}
.prize{
    border: 2px solid blue;
}

.prizeButton { 
    background-color: lighten(green, 5%);
    cursor: pointer;
    cursor: hand;
    width: 150px;
    height: 30px;
    background-color: rgb(43, 177, 221);
    color: white;
    text-align:center;
    line-height:30px;
    border-radius: 30px;
}

.button:active{
        background-color: rgb(29, 179, 29);
}