.loginButtons{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.loginPage{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(10, 2, 149) 0%, rgb(16, 72, 242) 0%, rgba(0,212,255,1) 100%);
}   
img {
    opacity: 0.8;
    border-radius: 25px 25px 25px 25px;
  }
.header{
    color: #553295; 
    font-family: 'Raleway',sans-serif; 
    font-size: 38px; 
    font-weight: 800; 
    line-height: 50px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}


