.finished { 
    background-color: lighten(green, 5%);
    cursor: pointer;
    cursor: hand;
    width: 100px;
    height: 50px;
    background-color: rgb(43, 177, 221);
    color: white;
    text-align:center;
    line-height:50px;
    border-radius: 30px;
}